.container
  aaaaa
  =@artist.name
  =@artist.label
  =@artist.country

.container
  -@artist.works.each do |work|
    =link_to "#{work.title}, #{work.release}", work_path(work)

=link_to 'back to index', artists_path
=link_to 'delete' ,artist_path(@artist), method: :delete, data: {confirm: "Are you sure you want to delete it?"}
