wwwww
=@work.title
=@work.release
=@work.song
=@work.description
=link_to 'back to index', works_path
=link_to 'delete' ,work_path(@work), method: :delete, data: {confirm: "Are you sure you want to delete it?"}
