wwwww
.container
  %h2
    =@work.title
    =@work.release
    =@work.song
    =@work.description

.container
  =link_to 'Add New Album/Song', new_work_path
  =link_to 'back to index', works_path
  =link_to 'Edit', edit_work_path
  =link_to 'delete' ,work_path(@work), method: :delete, data: {confirm: "Are you sure you want to delete it?"}
